<!DOCTYPE html>
<html>
<head>
	<link rel="icon" type="text/css" href="publico/logo/illud-icono.png" width="120" height="120" >
	<title>Illud</title>
	<!--jquery js -->
    <script type="text/javascript" src="publico/jquery/jquery-3.3.1.min.js"></script>    
    <!--semantic js -->
	<script type="text/javascript" src="publico/Semantic-UI-CSS-master/semantic.min.js"></script>	
    <link rel="stylesheet" type="text/css" href="publico/Semantic-UI-CSS-master/semantic.min.css">	
	<!--bootstrap css -->
    <link rel="stylesheet" type="text/css" href="publico/bootstrap/css/bootstrap.min.css">
	
	<!--main css -->	
  	<link rel="stylesheet" type="text/css" href="publico/css/main.css">
  	 <!--semantic js -->
	<script type="text/javascript" src="publico/Semantic-UI-CSS-master/semantic.min.js"></script>	
    <link rel="stylesheet" type="text/css" href="publico/Semantic-UI-CSS-master/semantic.min.css">
	
     <link rel="stylesheet" type="text/css" href="publico/fontawesome-free-5.3.1-web/css/all.css">

</head>
<body class="cuerpo-index">

	
    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
           <i class="icon  bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                	 <a class="navbar-brand" href="#">
				    <img class="logo" src="publico/logo/illud-texto.png" width="110" height="50" alt=""> 
				     </a>
                   
                    <div id="close-sidebar">
                        <i class="minus icon"></i>
                    </div>
                </div>
                <div class="sidebar-header">
                    <div class="user-pic">
                        <img class="img-responsive img-rounded" src="publico/img/Programmers-2.jpg" alt="User picture">
                    </div>
                    <div class="user-info">
                        <span class="user-name">Ariel
                            <strong>Morazan</strong>
                        </span>
                        <span class="user-role">Usuario</span>
                        <span class="user-status">
                            <i class="icon circle"></i>
                            <span>Online</span>
                        </span>
                    </div>
                </div>
                <!-- sidebar-header  -->
                <div class="sidebar-search">
                    <div>
                        <div class="input-group">
                            <input type="text" class="form-control search-menu" placeholder="Search...">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- sidebar-search  -->
                <div class="sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>General</span>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="icon archive"></i>
                                <span>Mis Archivos</span>
                                <span class="badge badge-pill badge-danger icon chevron right">New </span>

                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="#">Carpeta 1
                                            <!-- <span class="badge badge-pill badge-success">Pro</span>-->
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">Carpeta 2</a>
                                    </li>
                                    <li>
                                        <a href="#">Musica</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="icon users"></i>
                                <span>Compartido</span>
                                <span class="badge badge-pill badge-primary">3</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="#">Proyectos desarrollo web

                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">Proyecto ideal</a>
                                    </li>
                                    <li>
                                        <a href="#">Proyecto colores</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="icon file code"></i>
                                <span>Snippet</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="#">Snippet 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Snippet 2</a>
                                    </li>                                  
                                </ul>
                            </div>
                        </li>
                        
                    
                        <li class="header-menu">
                            <span>Extra</span>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon calendar"></i>
                                <span>Calendario</span>
                            </a>
                        </li>                    
                        <li>
                            <a href="#">
                                <i class="icon book"></i>
                                <span>Documentos</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-content  -->
            <div class="sidebar-footer">
                <a href="#">
                    <i class="fa fa-bell"></i>
                    <span class="badge badge-pill badge-warning notification">3</span>
                </a>
                <a href="#">
                    <i class="fa fa-envelope"></i>
                    <span class="badge badge-pill badge-success notification">7</span>
                </a>
                <a href="#">
                    <i class="fa fa-cog"></i>
                    <span class="badge-sonar"></span>
                </a>
                <a href="/logout">
                    <i class="fa fa-power-off"></i>
                </a>
            </div>
        </nav>
        <!-- sidebar-wrapper  -->
        <main class="page-content">
            <div align="center" class="container-fluid">
               <img class="centrar"  src="publico/logo/illud-texto.png" width="110" height="45" alt="">
                    <p class="pcenter"><i class="home icon pcenter"></i> Home </p>
            </div>
			

 


        <div class="ui cards pl-5 pt-5">
          <div class="card card-folder">
            <div class="content">
              <div class="header">Descripcion</div>
              <div class="description">
                Voy a crear una platilla para mi proyecto.
              </div>
            </div>
            <div class="ui bottom attached button">
              <i class="folder huge icon"></i>
             Desarrollo web
            </div>
          </div>
          <div class="card card-folder">
            <div class="content">
              <div class="header">Descripcion</div>
              <div class="description">
                Implementar javascript en algunos de mi proyectos.
              </div>
            </div>
            <div class="ui bottom attached button">
              <i class="folder huge icon"></i>
             codificadores
            </div>
          </div>
          <div class="card card-folder">
            <div class="content">
              <div class="header">Descripcion</div>
              <div class="description">
                Verificar la conexion de algunos componentes de mi plantilla.
              </div>
            </div>
            <div class="ui bottom attached button">
              <i class="folder huge icon"></i>
             redes esxternas
            </div>
          </div>
        </div>









        </main>
        <!-- page-content" -->
    </div>
		<script type="text/javascript" src="publico/js/sidebar.js"></script>
    <!--jquery js -->
    <script type="text/javascript" src="publico/jquery/jquery-3.3.1.min.js"></script>

	<!--bootstrap js -->
	<script type="text/javascript" src="publico/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>