<!DOCTYPE html>
<html>
<head>
	<link rel="icon" type="text/css" href="publico/logo/illud-icono.png" width="120" height="120" >
	<title>Illud</title>
	<!--jquery js -->
    <script type="text/javascript" src="publico/jquery/jquery-3.3.1.min.js"></script>    
    <!--semantic js -->
	<script type="text/javascript" src="publico/Semantic-UI-CSS-master/semantic.min.js"></script>	
    <link rel="stylesheet" type="text/css" href="publico/Semantic-UI-CSS-master/semantic.min.css">	
	<!--bootstrap css -->
    <link rel="stylesheet" type="text/css" href="publico/bootstrap/css/bootstrap.min.css">
	
	<!--main css -->	
  	<link rel="stylesheet" type="text/css" href="publico/css/main.css">
  	 <!--semantic js -->
	<script type="text/javascript" src="publico/Semantic-UI-CSS-master/semantic.min.js"></script>	
    <link rel="stylesheet" type="text/css" href="publico/Semantic-UI-CSS-master/semantic.min.css">
	
     <link rel="stylesheet" type="text/css" href="publico/fontawesome-free-5.3.1-web/css/all.css">

</head>
<body class="cuerpo-index">
     <!--Menu de navegacion del pen o tablero de codigo -->
                <nav class="barra-index navbar navbar-dark bg-dark navbar-expand-lg pt-2 pb-2 ">
                  <a class="navbar-brand" href="#">
                    <img src="publico/logo/illud-texto.png" width="100" height="30" alt="">
                  </a>
                     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    
                      <div style="visibility: hidden"  class="index-buscador">
                         <!--Buscador de codigos -->
                          <div class="ui fluid small icon input ">
                             <input type="text" placeholder="Search...">
                              <i class="inverted circular search link icon"></i>           
                          </div>                             
                      </div> 
                     
                      

                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                      </li>       
                    </ul>
                       
                   <button class="ui positive basic button mr-2" data-toggle="modal" data-target="#login-index" data-whatever="@mdo">Iniciar sesión </button>
                   <button class="ui positive basic button pr-2" ><a href="/signup" style="color: #21ba45;">  Registrate</a></button>
                    <!--El desplegable para seleccionar un estilo de la pantalla-->
                    
                  </div>
                </nav>

                <!--Finaliza el Menu de navegacion del pen o tablero de codigo -->
               <div  class="contenido-primero">

               <div  class="contenido-publico container">
                 

                <div class="modal-body mt-5">
                    <div class="titulo-explorador"> <b> Explorar los codigos</b> </div>
                    <div align="right" class="explorador-2"><i class="th link big icon"></i> <i class="icon big link th large"></i></div>
                     <hr class="separador-index">   
                </div> 
                    <div id="banner" class="row">

                       

                      

              
        
                      
                        

                    </div> 
                    <!--finaliza el row 
                      <div align="center">
                        <button class="ui inverted primary basic button">Siguiente<i class="angle right icon"></i></button>
                      </div> 
                    -->  
               </div>
                <footer class="pie-index mt-4" >
                 <div class="pie-r" align="right">
                  <img class="imagen-pie" src="publico/logo/illud-texto.png" width="100" height="30" alt="">  
                 </div>
                 <div class="pie-l" align="left">
                   <p class="p-pie"> 2018 Illud &copy;</p>                   
                 </div>
                 
               </footer>

	           </div>


            








<!--Ventana modal para logearse -->
    <div class="modal fade" id="login-index" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div  class="modal-header">
            <div class="container"> 
             <h5 class="modal-title" id="exampleModalLabel"><img class="iniciar-imagen" src="publico/logo/illud-texto-amarillo.png" width="120px" height="50px"></h5>
           
            </div>
            
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div  class="modal-body">
           
            <form class="ui form" id="signin" name="signin" method="post" action="signin">
              <div class="field">
                <label><b>Usuario:</b></label>
                <input type="email" name="email" placeholder="usuario...">
              </div>
              <div class="field">
                <label><b>Contraseña:</b></label>
                <input type="password" name="password" placeholder="password..">
              </div>
           
                <button class="ui green button inverted fluid" type="submit"><b>iniciar</b></button>
           
              
            </form>
          </div> 
          <div class="modal-footer">              
          </div>
        </div>
      </div>
     </div>
     <!--finaliza la Ventana modal para compartir los proyectos -->










	<script type="text/javascript" src="publico/js/sidebar.js"></script>
    <!--jquery js -->
    <script type="text/javascript" src="publico/jquery/jquery-3.3.1.min.js"></script>

	<!--bootstrap js -->
	<script type="text/javascript" src="publico/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">
  

    $.ajax({
        url:`proyectos_home`,
        method:"GET",
        dataType:"json",
        success: function(res){
          console.log(res);

            for (var i=0;i<res.length;i++){               
               
                mostrar_pen( res[i].id, res[i].email, res[i].created, res[i].nombre );
            }
        },
        error: function(error){
            console.log(error);
        }
      });


  function mostrar_pen(id,email,fecha,nombre){

    $('#banner').append(`
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-4 pb-4">                            
                            <div class="ui special cards">
                              <div class="card card-pink">
                                 <div class="content">                                              
                                <img class="ui avatar image" src="publico/img/Programmers-2.jpg">${email}
                              </div>
                                <div class="blurring dimmable image">
                                  <div class="ui dimmer">
                                    <div class="content">
                                      <div class="center">
                                        <div class="ui inverted button">Ver proyecto</div>
                                      </div>                                                        
                                    </div>
                                  </div>
                                  <img src="publico/img/Programmers-2.jpg">
                                </div>
                                <div class="content">
                                  <a class="header" href="/penpublic/${id}" style="color:#0819ff;">Abrir Pen</a>
                                  <div class="meta">
                                    <span class="date color-index">${nombre}</span>
                                  </div>
                                </div>
                                <div class="extra content">
                                     <span class="icon-index color-index"><i class="icon eye"></i>13 </span>
                                    <span class="icon-index color-index"><i class="comment icon"></i>3</span>
                                    <span class="icon-index color-index"><i class="heart outline like icon"></i>17</span>
                                </div>
                              </div>                                                                          
                            </div>
                        </div>

      `);

  }

</script>
</body>
</html>