<!DOCTYPE html>
<html>
<head>
	<link rel="icon" type="text/css" href="publico/logo/illud-icono.png" width="120" height="120" >
	<title>Illud-Index</title>
	<!--jquery js -->
    <script type="text/javascript" src="publico/jquery/jquery-3.3.1.min.js"></script>    
    <!--semantic js -->
	<script type="text/javascript" src="publico/Semantic-UI-CSS-master/semantic.min.js"></script>	
    <link rel="stylesheet" type="text/css" href="publico/Semantic-UI-CSS-master/semantic.min.css">	
	<!--bootstrap css -->
    <link rel="stylesheet" type="text/css" href="publico/bootstrap/css/bootstrap.min.css">
	
	<!--main css -->	
  	<link rel="stylesheet" type="text/css" href="publico/css/main.css">
  	 <!--semantic js -->
	<script type="text/javascript" src="publico/Semantic-UI-CSS-master/semantic.min.js"></script>	
    <link rel="stylesheet" type="text/css" href="publico/Semantic-UI-CSS-master/semantic.min.css">
	
     <link rel="stylesheet" type="text/css" href="publico/fontawesome-free-5.3.1-web/css/all.css">

</head>
<body class="cuerpo-index">
     <!--Menu de navegacion del pen o tablero de codigo -->
                <nav class="barra-index navbar navbar-dark bg-dark navbar-expand-lg pt-2 pb-2 ">
                  <a class="navbar-brand" href="#">
                    <img src="publico/logo/illud-texto.png" width="100" height="30" alt="">
                  </a>
                     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    
                      <div style="visibility: hidden"   class="index-buscador">
                         <!--Buscador de codigos -->
                          <div class="ui fluid small icon input ">
                             <input type="text" placeholder="Search...">
                              <i class="inverted circular search link icon"></i>           
                          </div>                             
                      </div> 
                    
                      

                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                      </li>       
                    </ul>
                       
                   <button class="ui positive basic button mr-2" data-toggle="modal" data-target="#login-index" data-whatever="@mdo">Iniciar sesión </button>
                   <button class="ui positive basic button pr-2" ><a href="/signup" style="color: #21ba45;">  Registrate</a></button>
                    <!--El desplegable para seleccionar un estilo de la pantalla-->
                    
                  </div>
                </nav>

                <!--Finaliza el Menu de navegacion del pen o tablero de codigo

                
                 -->
               

               <div  class="container reducir-register">

                  <div class="row cuerpo-register pb-5 pt-5">
                     <hr class="hr-register">
                     <div class="col-12 header-register">
                        <h1>Gratis</h1>
                         <p>Bienvenido a Illud</p>
                       
                     </div>
                     <div class="col-md-12 content-register pt-5 pb-5">

                        <div class="ui placeholder segment">
                          <div class="ui two column very relaxed stackable grid">
                            <div class="column ">
                              <div class="ui form">
                                <form id="signup" name="signup" method="post" action="/signup">
                                      <div class="expandir field">
                                        <label>Primer Nombre:</label>
                                        <div class="ui left icon input">
                                          <input type="text" name="firstname" placeholder="Nombre...">
                                          <i class="user icon"></i>
                                        </div>
                                      </div>
                                                                           
                                      <div class=" expandir field">
                                        <label>Email:</label>
                                        <div class="ui left icon input">
                                          <input type="email" name="email" placeholder="Email...">
                                          <i class="at icon"></i>
                                        </div>
                                      </div>
                                      <div class=" expandir field">
                                        <label>Elegir una contraseña</label>
                                        <div class="ui left icon input">
                                          <input type="password" name="password">
                                          <i class="lock icon"></i>
                                        </div>
                                      </div>
                                      <input class="ui positive submit button" type="submit" value="Enviar" />
                                </form>
                              </div>
                              <br>
                              <br>
                               <p>Al registrarse, usted acepta los Términos de servicio , el Código de conducta y la Política de privacidad de Illud.</p>
                            </div>
                            <div class="middle aligned column expandir">                             
                              <a href="auth/facebook">
                              <button class="ui big facebook button">
                                <i class="facebook icon"></i>
                                Facebook
                              </button>
                              </a>
                            </div>
                          </div>
                          <div class="ui vertical divider">
                            Or
                          </div>
                        </div>

                     </div>
                      
                  </div>
                                
                        
	             </div>


            



<!--Ventana modal para logearse -->
    <div class="modal fade" id="login-index" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div  class="modal-header">
            <div class="container"> 
             <h5 class="modal-title" id="exampleModalLabel"><img class="iniciar-imagen" src="publico/logo/illud-texto-amarillo.png" width="120px" height="50px"></h5>
           
            </div>
            
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div  class="modal-body">
           
            <form class="ui form" id="signin" name="signin" method="post" action="signin">
              <div class="field">
                <label><b>Usuario:</b></label>
                <input type="email" name="email" placeholder="usuario...">
              </div>
              <div class="field">
                <label><b>Contraseña:</b></label>
                <input type="password" name="password" placeholder="password..">
              </div>
           
                <button class="ui green button inverted fluid" type="submit"><b>iniciar</b></button>
           
              
            </form>
          </div> 
          <div class="modal-footer">              
          </div>
        </div>
      </div>
     </div>









	<script type="text/javascript" src="publico/js/sidebar.js"></script>
    <!--jquery js -->
    <script type="text/javascript" src="publico/jquery/jquery-3.3.1.min.js"></script>

	<!--bootstrap js -->
	<script type="text/javascript" src="publico/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>